
@model List<Character>
  

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 40px;
        }
    </style>
</head>









<table>
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Played By</th>
    </tr>

    @foreach (Character c in Model)
    {
        <tr>
            <td>@c.name</td>
            <td>@c.gender</td>
            <td>@c.playedBy[0]</td>
        </tr>
    }



</table>
